<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @message.title %>
</p>

<p>
  <strong>Message:</strong>
  <%= @message.body.html_safe %>
</p>

<% if @message.user_id %>
  User: <%= @message.user_id %>
<% end %>
<%= link_to 'Back', messages_path %>
