<%= form_for(@employee, html:{ :multipart => true }, url: url_for(controller: 'employees', action: 'show')) do |f| %>

  <% if @employee.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
  <%= f.label :avatar %><br>
  <%=f.file_field :avatar %>
</div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :jobtitle %><br>
    <%= f.text_field :jobtitle %>
  </div>

  <div class="field">
    <%= f.label :salesrep %>
    <%= f.check_box :salesrep %>
    <%= f.label :shipping %>
    <%= f.check_box :shipping %>
    <%= f.label :packaging %>
    <%= f.check_box :packaging %>
    <%= f.label :officestaff %>
    <%= f.check_box :officestaff %>
    <%= f.label :watertreatment %>
    <%= f.check_box :watertreatment %>
  </div>
    <% if salesrep? || admin? %>
  <div class="field">
    <%= f.label :region %><br>
    <%= f.select( :region, [['North California','North California'], ['Central California','Central California'], ['South California','South California'], ['Bay Area', 'Bay Area'], ['Midwest','Midwest'], ['Texas','Texas'], ['Arizona','Arizona'], ['Florida', 'Florida'], ['East Coast', 'East Coast']], {}) %>
  </div>
    <% end %>
  <div class="field">
    <%= f.label :skills %><br>
    <%= f.text_field :skills %>
  </div>
  <div class="field">
    <%= f.label :gender %>
    <%= f.select( :gender, [['Male', 'Male'], ['Female', 'Female'], ['Custom', 'Custom']], {}) %>
  </div>
  <div class="field">
    <%= f.label :sexuality %>
    <%= f.select( :sexuality, [['Straight', 'Straight'], ['Gay', 'Gay'], ['Bisexual', 'Bisexual'], ['Asexual', 'Asexual'], ['Transexual', 'Transexual'], ['Custom', 'Custom']], {}) %>
  </div>
<div class="field">
  <%= f.label "About Me" %><br>
  <%= f.text_area :bio, placeholder: "Your Text here....", :class => 'ckeditor' %>
</div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <% if admin? %>

  <div class="field">
    <%= f.label "Username" %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label "Password For Employee Email" %><br>
    <%= f.text_field :employeepassword %>
  </div>
  <div class="field">
    <%= f.label "Incoming Server" %><br>
    <%= f.text_field :incomingserver %>
  </div>

  <div class="field">
    <%= f.label "Incoming IMAP Port" %><br>
    <%= f.text_field :incomingport %>
  </div>
  <div class="field">
    <%= f.label "Outgoing Server" %><br>
    <%= f.text_field :outgoingserver %>
  </div>
  <div class="field">
    <%= f.label "Outgoing SMTP Port" %><br>
    <%= f.text_field :smtpport %>
  </div>
  <% end %>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
<% if admin? %>
    <div class="field">
      <%= f.label :admin %>
      <%= f.check_box :admin %>
  </div>
  <div class="field">
      <%= link_to 'Destroy', employee_path(@employee), method: :delete, data: { confirm: 'Are you sure, you want to remove employee record?' }, class:"btn btn-danger bottom-margin5x color-white" %>
<% end %>
  <div class="actions">
    <%= f.submit class:"btn btn-default" %>
  </div>


<% end %>
