<div class="container-fluid">

<p><strong>ADMINISTRATION PANEL</strong></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Employee Name</th>
      <th>Jobtitle</th>
      <th>Skills</th>
      <th>Gender</th>
      <th>Email</th>
      <th>Phone</th>
      <% if admin? %>
      <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
        <tr data-href="<%= employee_url(employee) %>">
        <td><%=link_to image_tag(employee.avatar.url(:thumb), class:"indexedemployee img-thumbnail"), employee_path(employee) %></td>
        <td><%=link_to employee.name, employee_path(employee), class: "btn btn-link" %></td>
        <td><%= employee.jobtitle %></td>
        <td><%= employee.skills %></td>
        <td><%= employee.gender %></td>
        <td><%= employee.email %></td>
        <td><%= employee.phone %></td><% if current_user.admin %>
        <td><%= link_to 'Show', employee_path(employee), class:"btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee), class:"btn btn-default" %></td>
        <td><%= link_to 'Destroy', employee_path(employee), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table table-striped">
  <thead>
    <tr>
      <th>PDF Name</th>
      <th>Download File</th>
      <% if admin? %>
      <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @pdfs.each do |pdf| %>
        <tr data-href="#">
        <td><%= pdf.pdfname %> </td>
        <td><%= link_to "Download", pdf.document.url,  class: "btn btn-link" %></td>
        <% if admin? %>
        <td><%= link_to 'Show', pdf, class:"btn btn-default"  %></td>
        <td><%= link_to 'Edit', edit_pdf_path(pdf), class:"btn btn-default"  %></td>
        <td><%= link_to 'Destroy', pdf, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default"  %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>



<table class="table table-striped">
  <thead>
    <tr>
      <th>Product photo</th>
      <th>Name</th>
      <th>Price</th>
      <th>Descripton</th>
      <th>Dosage</th>
      <% if admin? %>
      <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr data-href="<%= product_url(product) %>">
        <td><%=image_tag product.productphoto.url(:thumb), class:"indexedproduct  img-thumbnail" %></td>
        <td><%= product.name %></td>
        <td>8oz: $<%= product.price8oz %>
          64oz: $<%= product.price64oz %>
          5 Gallon Pail: $<%= product.price5gal %>
          55 Gallon Pail: $<%= product.price55gal %>

        </td>
        <td><%= product.descripton %></td>
        <td><%= product.dosage %></td>
        <td><%= link_to 'Show', product, class:"btn btn-default" %></td>
        <% if admin? %>
        <td><%= link_to 'Edit', edit_product_path(product), class:"btn btn-default" %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if admin? %>
<%= link_to 'New Product', new_product_path, class:"btn btn-default" %>
<% end %>

</div>
