<p id="notice"><%= notice %></p>

<h1>Listing Employees</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Employee Name</th>
      <th>Jobtitle</th>
      <th>Skills</th>
      <th>Gender</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
        <tr data-href="<%= employee_url(employee) %>">
        <td><%=link_to image_tag(employee.avatar.url(:thumb), class:"indexedemployee img-thumbnail"), employee_path(employee) %></td>
        <td><%=link_to employee.name, employee_path(employee), class: "btn btn-link" %></td>
        <td><%= employee.jobtitle %></td>
        <td><%= employee.skills %></td>
        <td><%= employee.gender %></td>
        <td><%= employee.email %></td>
        <td><%= employee.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if admin? %>
<%= link_to 'New Employee', new_user_registration_path, class:"btn btn-default" %>
<% end %>
