
<p id="notice"><%= notice %></p>
<div class="profileContainer">
<div class="titleContainer">
<h2><strong>Employee Profile</strong></h2><% if @employee.admin %><span class="adminbadge"><strong class="btn btn-success">ADMIN</strong></span>

<% end %>
</div>

<div>
    <div>

<div class="avatar">
  <%= image_tag @employee.avatar.url(:medium), class: "img-thumbnail showemployee" %>
</div>

<div class="infoContainer">
  <div class="rows">
    <div class="column">
  <strong>Name:</strong>
  <%= @employee.name %>
    </div>
    <div class="column">
  <strong>Job Title:</strong>
  <%= @employee.jobtitle %>
    </div>
  </div>
<p>
  <strong>Skills:</strong>
  <%= @employee.skills %>
</p>
<p>
  <strong>Bio:</strong>
  <%= @employee.bio %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @employee.gender %>
</p>

<p>
  <strong>Sexuality:</strong>
  <%= @employee.sexuality %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @employee.phone %>
</p>
<% if current_user.id == @employee.id %>
<%= link_to 'Edit', edit_employee_path(@employee), class:"btn btn-default" %> |

<% end %>

<%= link_to 'Back', employees_path, class:"btn btn-default" %>
</div>

</div>

<div class="wallcontainer">

</div>
</div>
