<div>

<% if user_signed_in? %>
  Welcome <% if user_signed_in? && current_user.admin %><strong>ADMIN</strong><% end %> <%=  current_user.email %>
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<% else %>
  <%= link_to "Sign in", new_user_session_path%> or <%= link_to "Sign up", new_user_registration_path %>
  <h1>Unauthorized Entry</h1>
  <p>employees please Sign in, if you are a new employee please sign up</P>
    <strong>Current Employees:</strong><%= link_to "Sign in", new_user_session_path%><br>
    <strong>New Employees:</strong><%= link_to "Sign up", new_user_registration_path %>
<% end %>


</div>
