%h3 Current PDF Listing
- if admin?
  = link_to 'New Pdf', new_pdf_path,  class: "btn btn-default"
%table.table.table-striped
  %thead
    %tr
      %th PDF Name
      %th Download File
      - if admin?
        %th{:colspan => "3"}
  %tbody
    - @pdfs.each do |pdf|
      %tr{"data-href" => "#{pdf_url(pdf)}"}
        %td
          = pdf.pdfname
        %td= link_to "Download", pdf.document.url,  class: "btn btn-link"
        - if admin?
          %td
            = link_to 'Show', pdf, class:"btn btn-default"
            = link_to 'Edit', edit_pdf_path(pdf), class:"btn btn-default"
            = link_to 'Destroy', pdf, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default"
