<p id="notice"><%= notice %></p>

<h1>Listing Pdfs</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>PDF Name</th>
      <th>Download File</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pdfs.each do |pdf| %>
      <tr>
        <td><%=link_to pdf.pdfname, pdf, class: "btn btn-link"  %> </td>
        <td><%= link_to "Download", pdf.document.url,  class: "btn btn-link" %></td>
        <td><%= link_to 'Show', pdf, class:"btn btn-default"  %></td>
        <td><%= link_to 'Edit', edit_pdf_path(pdf), class:"btn btn-default"  %></td>
        <td><%= link_to 'Destroy', pdf, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pdf', new_pdf_path,  class: "btn btn-default"  %>
