
<% if params[:parent_id] %><%= render 'parent', post: Technicalassistance.find(params[:parent_id]) %><% end %>

<%= form_for(@technicalassistance) do |f| %>
  <% if @technicalassistance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@technicalassistance.errors.count, "error") %> prohibited this technicalassistance from being saved:</h2>

      <ul>
      <% @technicalassistance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% if params[:parent_id] %><%= f.text_field :parent_id, value: params[:parent_id], style:'display:none;' %><% end %>
  <div class="field">
    <%= f.label 'Request Title' %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :device %><br>
    <%= f.text_field :device, placeholder: "Please List Device model, be specific" %>
  </div>
  <div class="field">
    <%= f.label 'Description of error' %><br>
    <%= f.text_area :body,  placeholder: "Please provide descripton of your error/s here....", :class => 'ckeditor' %>
  </div>
  <div class="actions">
    <%= f.submit "Submit Help Ticket" %>
  </div>
<% end %>
