<p id="notice"><%= notice %></p>

<h1>Listing Technical Assistances</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Device</th>
      <th>Descripton</th>
      <th>Time</th>
      <% if admin? %>
      <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @technicalassistances.where(parent_id: nil).each do |ta| %>
      <tr data-href="<%= technicalassistance_url(ta) %>">
        <td><% if ta.user %><%= image_tag ta.user.avatar.url(:thumb) %><% end %></td>
        <td><%= ta.title %></td>
        <td><%= ta.device %></td>
        <td><%= sanitize(ta.body.strip.truncate 20) %></td>
        <td> <%= ta.created_at.strftime("%b %d %Y") %> @ <%= ta.created_at.strftime("%H:%M") %></td>
          <% if admin? %>
        <td><%= link_to 'Show', ta, class:"btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_technicalassistance_path(ta), class:"btn btn-default" %></td>
        <td><%= link_to 'Destroy', ta, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'File Help Request', new_technicalassistance_path, class:"btn btn-default"  %>
