<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @technicalassistance.title %>
</p>

<p>
  <strong>Device:</strong>
  <%= @technicalassistance.device %>
</p>

<p>
  <strong>Descripton:</strong>
  <%= @technicalassistance.descripton %>
</p>

<p>
  <strong>Time:</strong>
  <%= @technicalassistance.time %>
</p>

<%= link_to 'Edit', edit_technicalassistance_path(@technicalassistance) %> |
<%= link_to 'Back', technicalassistances_path %>
