<p id="notice"><%= notice %></p>
<%= render 'parent', post: @technicalassistance %>
<%= link_to 'Edit', edit_technicalassistance_path(@technicalassistance) %>
<%= link_to "Reply", new_technicalassistance_path(parent_id:@technicalassistance.id) %>
<%= link_to 'Back', technicalassistances_path %>
