<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Product Image" %><br>
    <%= f.file_field :productphoto %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Price 8 oz" %><br>
    <%= f.text_field :price8oz %>
  </div>
  <div class="field">
    <%= f.label "Price 64 oz" %><br>
    <%= f.text_field :price64oz %>
  </div>
  <div class="field">
    <%= f.label "Price 5 Gallon" %><br>
    <%= f.text_field :price5gal %>
  </div>
  <div class="field">
    <%= f.label "Price 55 Gallon" %><br>
    <%= f.text_field :price55gal %>
  </div>
  <div class="field">
    <%= f.label :descripton %><br>
    <%= f.text_field :descripton %>
  </div>
  <div class="field">
    <%= f.label :dosage %><br>
    <%= f.text_field :dosage %>
  </div>
  <div class="actions">
    <%= f.submit class:"btn btn-default" %>
  </div>
<% end %>
