%p#notice= notice
%h1 Listing Products
%table.table.table-striped
  %thead
    %tr
      %th Product photo
      %th Name
      %th Price
      %th Descripton
      %th Dosage
      - if admin?
        %th{:colspan => "3"}
  %tbody
    - @products.each do |product|
      %tr{"data-href" => "#{product_url(product)}"}
        %td= image_tag product.productphoto.url(:thumb), class:"indexedproduct  img-thumbnail"
        %td= product.name
        %td
          8oz: $#{product.price8oz}
          64oz: $#{product.price64oz}
          5 Gallon Pail: $#{product.price5gal}
          55 Gallon Pail: $#{product.price55gal}
        %td= product.descripton
        %td
          = link_to 'Dosage', product.dosage
        %td= link_to 'Show', product, class:"btn btn-default"
        - if admin?
          %td= link_to 'Edit', edit_product_path(product), class:"btn btn-default"
          %td= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default"
%br/
- if admin?
  = link_to 'New Product', new_product_path, class:"btn btn-default"
