<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Product photo</th>
      <th>Name</th>
      <th>Price</th>
      <th>Descripton</th>
      <th>Dosage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%=image_tag product.productphoto.url(:thumb), class:"indexedproduct  img-thumbnail" %></td>
        <td><%= product.name %></td>
        <td>8oz: $<%= product.price8oz %>
          64oz: $<%= product.price64oz %>
          5 Gallon Pail: $<%= product.price5gal %>
          55 Gallon Pail: $<%= product.price55gal %>

        </td>
        <td><%= product.descripton %></td>
        <td><%= product.dosage %></td>
        <td><%= link_to 'Show', product, class:"btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_product_path(product), class:"btn btn-default" %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path, class:"btn btn-default" %>
